
.headerBridge{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
}

.networkBox{
  flex-direction:column;
  min-width: 230px;
}

.largeButtonContainer {
  width: 270px;
  height: 100px;

  background: #FFFFFF;
  box-shadow: 0px 10px 21px rgba(0, 173, 232, 0.13);
  border-radius: 4px;
  position: relative;

  opacity 0.6
  cursor pointer

  .imgToken {
    max-height 24px
    width 24px
    margin-right 10px
  }

  &.active {
    opacity 1

    &:after {
      display block
      position absolute
      content ''
      width: 100%
      height 4px
      bottom 0

      background: linear-gradient(269.98deg, #69FABC -0.02%, #00ADE8 100%);
    }
  }

  .title {
    font-weight bold
  }

  .description {
    //text-align right
    //width 100%
    //margin-right 60px
  }
}

.swapDirectionChoice {
  width: 560px
}

@media screen and (max-width: 800px) {
  .networkBox{
    flex-direction:column;
    min-width: 0px;
  }

  .headerBridge{
    flex-direction:column;
    align-items: flex-start;
  }

  .largeButtonContainer {
    width 50%
  }
  .swapDirectionChoice {
    width: 100%
  }
}

.filterOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0;
}

.poolToggles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0rem;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
  }
}

.earnSearch {
  border-radius: 9px;
  width: 45%;
  height: 46px;
  padding: 16px;
  font-size: 18px;
  outline: none;
  &.light{
    color: #5F5F6B;
    background-color: #F9FAFA;
    border: 1px solid#5F5F6B;
  }
  &.dark{
    color: white;
    background-color: #363636;
    border: 1px solid white;
  }

  &:focus {
    border: 1px solid rgba(179, 134, 57,.6);
  }
  &::placeholder{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}

.filterButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 45%;

  > button > i {
    margin: 0 !important;
  }
}

.noneFilter {
  &.light {
    background-color: #bbb !important;
  }
  &.dark {
    background-color: #999 !important;
  }
}

.descFilter {
  background-color: #5fb869 !important;
}

.ascFilter {
  background-color: #dc5955 !important;
}

@media only screen and (max-width: 768px) {
  .filterOptions {
    flex-direction: column-reverse;
    margin-top: 1rem;
  }

  .poolToggles {
    display: none;
  }

  .earnSearch {
    width: 100%;
    margin-top: 1rem;
  }

  .filterButtons {
    width: 100%;
  }
}